<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<form action="#" th:action="@{/index}" th:object="${book}" method="post">
    <label for="name"><p th:text="#{name}"></p></label>
    <input type="text" id="name" name="name" th:field="*{name}" required=""/>
    <label for="author"><p th:text="#{author}"></p></label>
    <input type="text" id="author" name="author" th:field="*{author}" required=""/>
    <label for="date"><p th:text="#{date}"></p></label>
    <input type="date" id="date" name="date" th:field="*{date}" required=""/>
    <label for="genre"><p th:text="#{genre}"></p></label>
    <input type="text" id="genre" name="genre" th:field="*{genre}" required=""/>
    <label for="rating"><p th:text="#{rating}"></p></label>
    <input type="number" id="rating" name="rating" th:field="*{rating}" required=""/>
    <button id="addBtn" th:text="#{addBtn}"></button>
</form>

<p th:text="${textFromUrl}"></p>

<th:block th:each="book : ${books}">
    <tr>
        <td>
            <p th:text="${book.name}"></p>
        </td>
        <td>
            <p th:text="${book.author}"></p>
        </td>
        <td>
            <p th:text="${#dates.format(book.date, 'mm/dd/yyyy')}"></p>
        </td>
        <td>
            <p th:text="${book.genre}"></p>
        </td>
        <td>
            <p th:text="${book.rating}"></p>
        </td>
    </tr>
    <p>_______________</p>
</th:block>

</body>
</html>